.ali_icon
  width 100%
  height 100%
.full_box
  width 100%
  height 100%
  display flex
  flex-direction column
  overflow scroll
  -webkit-overflow-scrolling touch
.fbox
  flex 1
  width 100%
  display flex
  flex-direction column
  overflow-y scroll
  -webkit-overflow-scrolling touch
.hide
  display none !important
.w
  width 100%
.w1200
  width 1200px
.wrap
  box-sizing border-box
  min-height 100%
  height auto !important
  height 100%
  position relative
.mgauto
  margin-left auto
  margin-right auto
.header_row_reverse
  height 34px
  display flex
  flex-direction row-reverse
